body {
  font-family: 'Roboto';
  background-color: #f9f9f9;
  overflow-x: hidden;
}

a.navbar-brand {
  padding: 5px;
}

img.navbar-img {
  height: 100%;
}

h1.landing {
  color: white;
  font-family: 'Roboto Slab';
  font-weight: bold;
  text-align: center;

	font-size: 14.5em;

	@media screen and (max-width: 1200px) {
		font-size: 10.5em;
	}
	@media screen and (max-width: 992px) {
		font-size: 9.5em;
	}
	@media screen and (max-width: 768px) {
		font-size: 6.5em;
	}
	@media screen and (max-width: 360px) {
		font-size: 4.5em;
	}
}

h2.landing {
  color: white;
  font-family: 'Montserrat';
  text-align: center;

	font-size: 2.5em;

	@media screen and (max-width: 1200px) {
		font-size: 2em;
	}
	@media screen and (max-width: 992px) {
		font-size: 1.9em;
	}
	@media screen and (max-width: 768px) {
		font-size: 1.8em;
	}
	@media screen and (max-width: 360px) {
		font-size: 1.7em;
	}
}

div.landing {
  margin-top: 75px;
}

$navMain: #2d2d2d;
$navBackground: $navMain;
$navBorder: darken($navBackground, 0.1);

.navbar-purple {
  background-color: $navBackground;
  border-color: $navBorder;
  border-radius: 0px;

  .navbar-nav {
    > li {
      > a {
        color: white;
        font-family: 'Montserrat';
        
        &:hover {
          color: lighten($navMain, 50);
        }

        &.nav-icon {
          padding:0px;
        }

        i.nav-icon {
          font-size: 25px;
          padding-top: 15px;
          $nav-icon-padding: 5px;
          padding-left: $nav-icon-padding;
          padding-right: $nav-icon-padding;
        }
      }
    }
  }
}

.navbar-transparent {
  opacity: 0.96;
  $transparency: 0.5;
  background-color: transparentize($navBackground, $transparency);
  border-color: transparentize($navBorder, $transparency);
}

$footer-height: 60px;
$footer-color: darken($navMain, 5%);
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 23px 0;
  background-color: $footer-color;

  p {
    font-size: 13px;
    color: lighten($footer-color, 40%);
  }
}

div.main {
  margin-bottom: $footer-height + 5;
  margin-top: 55px;
}

@for $index from 1 through 6 {
  h#{$index}{
    font-family: 'Raleway';
  }
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #545454;
}

li p {
  margin-bottom: 2px;
}

a {
  $color: $navMain;
  color: $color;
  &:hover {
    color: lighten($color, 20);
  }
  &:active {
    color: lighten($color, 30);
  }
  &:focus {
    color: lighten($color, 20);
  }
}

.btn-outline {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-family: 'Montserrat';

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(105, 83, 130, 0.7)
  }

  &:active {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(105, 83, 130, 0.7)
  }

  &:focus {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(105, 83, 130, 0.7)
  }
}

.landing-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(4px) brightness(60%) grayscale(100%);
  transform: scale(1.05);
}

img.gallery-img {
  border-radius: 2px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

img.gallery-img-no-hover {
  border-radius: 2px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  transition: all .2s ease-in-out;
}

img.profile-img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  transition: all .2s ease-in-out;
}

p.subtitle {
  color: $navMain;
  margin-top: -10px;
}

h1.go-back {
  text-align: right;
}

// Utils
.wide {
  width: 100%;
}

.clear {
  clear: both;
}
