$main: #666666;
$white: #ffffff;

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px dotted $white;
  border-radius: 50px;

  &:hover {
    background: $white;
  }

  &:active {
    background: #919191;
  }
}
::-webkit-scrollbar-track {
  background: $main;
  border: 0px none $white;
  border-radius: 50px;

  &::hover {
    background: $main;
  }

  &::active {
    background: #333333;
  }
}
::-webkit-scrollbar-corner {
  background: transparent;
}